**
!package.json
!bun.lock
!tsconfig.base.json
!LICENSE
!docker/
!docker/**
!apps/
!apps/shell/
!apps/shell/package.json
!packages/
!packages/contracts/
!packages/contracts/**
!packages/core/
!packages/core/**
!packages/ui/
!packages/ui/**
**/node_modules
**/dist
**/.env*
**/*.log
**/*.db*
**/test
**/tests
